<% if user_signed_in? %>

<div class="row">
  <div class="col justify-content-between">
    <span class="h1">Spaces</span>
    <%= link_to 'New Space', new_space_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">

  <% @spaces.each do |space| %>
    <div class=" col-md-6 col-lg-4">
      <div class="card">

        <% if space.image.attached? %>
          <%= image_tag space.image, class: 'card-img-top mw-75' %>
        <% else %>
          <%= octicon "location", :height => 200, :class => "card-img-top p-2" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">Space: <%= link_to space.name, space %></h5>
          <h6 class="card-subtitle">Location: <%= space.location %></h6>
          <p class="card-text"><%= space.description %></p>
          <!--  space areas-->
          <% if space.areas.length > 0 %>

            <% if space.areas.length == 1 %>
              1 Area
            <% else %>
              <%= space.areas.length %> Areas
            <% end %>

            <ul class="list-unstyled">
              <% space.areas.each do |area| %>
                <li><%= link_to area.name, area, class: '' %></li>
              <% end %>
            </ul>

          <% else %>
            No Areas
          <% end %>


        </div>
      </div>
    </div>
  <% end %>

</div>


<% else %>
<div class="jumbotron" style="background-color: #B4D6D3">
  <h1 class="display-4">Is There Soap?</h1>
  <p class="lead">A simple way of keeping track of supplies across your home or office!</p>
</div>
<% end %>