<!--card wih space information-->
<div class="card" style="width: 18rem;">

  <% if @space.image.attached? %>
  <%= image_tag(@space.image, class: 'card-img-top') %>
  <% else %>
    <%= octicon "location",:height => 200,  :class => "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @space.name %></h5>
    <p class="card-text"><%= @space.description %></p>
    <a href="#" class="btn btn-primary">Add Area</a>
  </div>
</div>
<!--links to areas -->
<% @space.areas.each do |area| %>
  <div class="card">
  Area: <%= area.name %>
  Items: <%= area.items.count %>
  </div>
<% end %>

<p>This space has <%= @space.users.count %> users.</p>