<!DOCTYPE html>
<html>
  <head>
    <title>IsThereSoap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #2C666E">
<!--      <a class="navbar-brand" href="#">IsThereSoap</a>-->
      <%= link_to 'IsThereSoap', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
<!--          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>-->
          <%= link_to 'Spaces', spaces_path, class: 'nav-item nav-link' %>
          <%= link_to 'Areas', areas_path, class: 'nav-item nav-link' %>
          <%= link_to 'Items', items_path, class: 'nav-item nav-link' %>

<!--          <ul class="hmenu">-->
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
<!--          </ul>-->
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%#= render 'devise/shared/links' %>
    <%= yield %>
  </div>
  </body>
</html>
